@font-face {
  font-family: 'Neutra';
  src: url('Neutra Display Light Alt.otf') format('opentype');
}
/*body {*/
    /*overflow-x: hidden;*/
/*}*/
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
    border-color: #337ab7;
}
#bootstrap-override a {
    text-decoration: none;
}
a {
    cursor: pointer;
}
tr {
    cursor: pointer;
}
nav {
    z-index: 5000;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: white;
  border: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 8px;
  pointer-events: none;
}

.footerContainer.jpl-footer {
    height: 100%;
    padding: 30px 20px;
    font-size: 12px;
    border-top: 1px solid #C8C9CA;
}

.navtitle {
    font-family: 'Neutra', sans-serif !important;
    font-weight: 400;
    font-size: 2.2em;
    line-height: 27px;
    margin-left: 10px !important;
}
a {
    color: inherit;
}
.footer {
    height:200px;
    z-index: 10;
    position: relative;
    background-color: white;
}
/*.logo {*/
    /*width: 75px;*/
    /*position: absolute;*/
    /*margin-top: 14px;*/
    /*margin-left: 15px;*/
/*}*/
.welcome {
    margin-top: 5%;
    text-align: center;
    color: #777;
    font-family: 'Lato', sans-serif !important;
    font-weight: 300;
    font-size: 1.7em;
}
.optioncontainer {
    margin: 4%;
}
.optionindv {
    margin-top: 2%;
}
.optionicon {
    text-align: center;
    font-size: 4em !important;
    cursor: pointer;
}
.optionheading {
    text-align: center;
    color: #205BA7;
    font-family: 'Neutra', sans-serif !important;
    font-size: 2.2em;
    cursor: pointer;
}
.optiondescription {
    color: #777;
    margin-top: 10px;
    text-align: center;
    font-family: 'Pavanam', sans-serif;
    font-size: 1.3em;
    cursor: pointer;
}
.news-feed {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 20;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 40px;
    color: #f8f8f8;
    font-family: 'Lato', sans-serif !important;
    font-weight: 300;
    font-size: 1em;
    background-color: #444;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.news-feed-bold {
    font-weight: 400;
    margin-left: 5px;
}
.feedback-button {
    color: #f8f8f8;
    font-family: 'Lato', sans-serif !important;
    font-weight: 500 !important;
    font-size: 1em;
    border: 1px solid #f8f8f8;
    height: 25px;
    line-height: 21px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 8px;
    margin-left: 10px;
    cursor: pointer;
}
.feedback-div {
    position: absolute;
    z-index: 300;
    top: 0;
    margin-left: -36%;
    left: 50%;
    margin-top: 240px;
    font-family: 'Lato', sans-serif !important;
    font-weight: 300;
    font-size: 1em;
    height: 225px;
    width: 70%;
    background: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 0 200px #000;
    display: none;
    text-align: center;
}
.feedback-title {
    margin: 15px;
}
.feedback-comments {
    width: 90%;
    height: 100px;
}
.feedback-close {
    top: 0;
    right: 0;
    position: absolute;
    margin: 5px;
    font-size: 1.6em !important;
}
textarea {
    resize: none;
}
.hamburger {
    font-size: 1.6em !important;
    color: #205BA7;
    float: right;
}
.hamburger-positioning {
    position: absolute;
    right: 15px !important;
    top: -1px !important;
    z-index: 5000;
    /*background-color: #f8f8f8 !important;*/
}
.personnel-welcome {
    margin-top: 5%;
    text-align: center;
    color: #777;
    font-family: 'Lato', sans-serif !important;
    font-weight: 300;
    font-size: 1.7em;
}
.personnel-search-title {
    font-family: 'Neutra', sans-serif !important;
    font-weight: 300;
    font-size: 2.0em;
    margin-left: 20px;
}
.personnel-search-container {
}
.personnel-search-bar {
    margin: 0px;
}
.personnel-submit {
    margin-top: 15px;
    margin-left: 5%;
    width: 90%
}
.personnel-search-results {
    margin: 35px 20px 20px 20px;
    visibility: hidden;
}
.personnel-results-text {
    font-family: 'Neutra', sans-serif !important;
    font-weight: 300;
}
.personnel-h1 {
    font-size: 2.2em;
    font-weight: 400;
}
.personnel-h2 {
    font-size: 1.6em;
}
.personnel-h3 {
}
.separator {
    position: relative;
    height: 1px;
    background-color: #777;
    margin-top: 15px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
}
.personnel-image-container {
    margin: 15px;
    visibility: hidden;
}
.personnel-image-container img {
    vertical-align: bottom;
    position: relative;
    z-index: -1;
    display: block;
    margin: auto;
}
.location-title {
    text-align: right;
    margin: 6px 15px 15px 15px;
}
#where {
    visibility: hidden;
}
.location-container {
    height: 400px;
    visibility: hidden;
}
.location-menu {
    display: none;
    text-align: center;
}
.location-button {
    margin-top: 15px;
    width: 90%;
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 97.5%;
    margin-top: 65px;
    border-top: 1px double #777;
    border-bottom: 1px double #777;
}
.mapboxgl-canvas {
    height: 365px !important;
}
.mapboxgl-popup-content {
    padding: 20px !important;
    font-size: 1.3em;
    box-shadow: 0 1px 2px rgba(0,0,0,0.30) !important;
}
.ui-autocomplete {
    height: auto;
    max-height: 50% !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}
.rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.slide-menu-container {
    position: relative;
    z-index: 6;
    height: 92.6vh;
    width: 310px;
    left: 0;
    margin: 0;
    top: 135px;
    display: flex !important;
    flex-direction: column !important;
    background-color: #337ab7;
    overflow-y: hidden;
    transform: translate(-320px, 0);
    -ms-transform: translate(-320px, 0);
    -moz-transform: translate(-320px, 0);
    -webkit-transform: translate(-320px, 0);
    -o-transform: translate(-320px, 0);
}
.search {
    padding: 15px;
    height: 60px;
    font-size: 1.5em;
    color: white;
    border-bottom: 1px solid white;
}
.search input {
    color: white;
    width: 230px;
    margin-left: 10px;
    background: transparent;
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    outline: none;
}
.search input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
    font-size: 1em;
    font-weight: 100;
    opacity: 0.5;
    text-transform: lowercase;
}
.search input::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
    font-size: 1em;
    font-weight: 100;
    opacity: 0.5;
    text-transform: lowercase;
}
.search input:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
    font-size: 1em;
    font-weight: 100;
    opacity: 0.5;
    text-transform: lowercase;
}
.search input:-moz-placeholder { /* Firefox 18- */
    color: #fff;
    font-size: 1em;
    font-weight: 100;
    opacity: 0.5;
    text-transform: lowercase;
}
.slide-menu-btn {
    position: relative;
    width: 310px;
    height: 60px;
    line-height: 1px;
    border: none;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    background: #337ab7;
    color: #fff;
    cursor: pointer;
    padding: 25px 110px 25px 60px;
    overflow: hidden;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: 300;
    transition: all 0.3s;
}
.slide-menu-btn:before {
    content: "";
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 150%;
    opacity: 0;
    transform: rotate(-65deg);
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0.13) 0%,
        rgba(255, 255, 255, 0.13) 50%,
        rgba(255, 255, 255, 0.5) 92%,
        rgba(255, 255, 255, 0.0) 100%
    );
}
.slide-menu-btn:after {
    content: '';
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 50%;
    height: 200%;
    background: rgba(255,255,255,0.15);
    z-index: 1;
    right: 0;
    top: 0;
    margin: -25px 0 0 -5px;
    transform-origin: 50% 150%;
    transform: rotate(25deg);
}
.slide-menu-btn:hover:after {
    background: rgba(255,255,255,1);
	width: 30%;
}
.slide-menu-btn:hover:before {
    opacity: 1;
    top: -30%;
    right: 100%;
    transition-property: right, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
}
#bottom-button {
    border-bottom: 2px solid white;
}
.menu-leaflet {
    position: absolute;
    z-index: 7 !important;
    background: #c1c1bf;
    height: 100%;
    width: 50px;
    top: 135px;
    left: 0;
    cursor: pointer;
}
.menu-leaflet:hover .container {
    visibility: visible;
}
.leaflet-text {
    text-transform: lowercase;
    color: #fff;
    font-size: 3em;
    transform: translate(18px, 40vh);
}
.leaflet-close {
    text-transform: lowercase;
    color: #fff;
    font-size: 2em;
    transform: translate(14px, 9px);
    visibility: hidden;
}
.visibility {
    visibility: visible;
}
.display {
    display: none;
}
.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
  40% {
      -moz-transform: translateX(15px);
      -ms-transform: translateX(15px);
      -webkit-transform: translateX(15px);
      transform: translateX(15px);
  }
  60% {
      -moz-transform: translateX(10px);
      -ms-transform: translateX(10px);
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
  }
}
.slide-leaflet {
    z-index: 4;
    background: #337ab7;
    height: 59px !important;
    transform: translate(312px, 0vh);
    -ms-transform: translate(312px, 0);
    -moz-transform: translate(312px, 0);
    -webkit-transform: translate(312px, 0);
    -o-transform: translate(312px, 0);
    -webkit-transition-duration: 1s;
}
.slide-menu {
    transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -webkit-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    -webkit-transition-duration: 1s;
}
.search-label {
    color: #777;
    text-transform: lowercase;
    font-family: 'Neutra', sans-serif !important;
    font-weight: 300;
    font-size: 1.6em;
}
#space-label {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
#fire-label {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.search-submit {
    margin-top: 10px;
    width: 30%;
}
.floorplan-submit {
    margin-top: 5px;
    width: auto;
}
.button-div {
    display: block;
    text-align: center;
}
.checkbox-container {
    color: #777;
    font-family: 'Lato', sans-serif !important;
    font-weight: 400;
    width: 250px;
    margin-left: 20px;
    margin-right: 10px;
    overflow-y: scroll;
}
#office-type-checkbox {
    height: 180px;
}
#fire-extinguisher-checkbox {
    height: 80px;
}
b {
    font-weight: 400 !important;
}
.search-result-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    visibility: hidden;
}
.search-result {
    height: 120px;
    width: 120px;
    background-color: #337ab7;
    color: #f8f8f8;
    border: 1px solid #f8f8f8;
    text-align: center;
    text-transform: lowercase;
    cursor: pointer;
}
#results {
    display: none;
}
.view-switch-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}
.view-submit {
    width: 132px;
}
.search-result-link {
    color: #f8f8f8 !important;
    font-family: 'Lato', sans-serif !important;
    font-weight: 200;
    font-size: 1.5em;
    line-height: 75px;
}
.badge-override {
    background-color: #D3282B;
    font-family: 'Lato', sans-serif !important;
    font-weight: 300;
    font-size: 1.1em;
}
.error {
    font-family: 'Neutra', sans-serif !important;
    font-weight: 400;
    font-size: 3em;
    color: #777;
    text-align: center;
    margin-top: 10%;
}
.zoom-controls {
    position: fixed;
    display: flex;
    justify-content: center;
    height: 250px;
    width: 125px;
    background-color: #337ab7;
    z-index: 25;
    top: 93%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 0 5px #222;
    border: solid 1px white;
    cursor: pointer;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}
.floorplan-view-container {
    position: absolute;
    bottom: 2px;
    margin: 0;
    height: 100%;
    width: 100%;
    /*overflow: hidden;*/
    z-index: 1;
}
.legend-controls-container {
    width: 102%;
    min-height: 85px;
    height: auto;
    background-color: #f8f8f8;
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 7;
    top: 3px;
    box-shadow: 0 1px 5px -2px #777;
}
.legend-title {
    font-family: 'Lato', sans-serif !important;
    font-weight: 300;
    font-size: 1.3em;
    color: #777;
    margin-top: 10px;
    margin-left: 65px;
}
.legend-container {
    margin-left: 60px;
}
.view-title {
    font-family: 'Lato', sans-serif !important;
    font-weight: 300;
    font-size: 1.3em;
    color: #777;
    margin-top: 10px;
    float: right;
}
.zoom-button {
    color: #f8f8f8;
    margin: 11px;
    font-size: 2em !important;
}
.map-layers {
    transform: translate(-40px, -145px);
}
#loading {
    display: none;
}
#canvas {
    display: none;
}
.header-container {
    position: absolute;
    z-index: 8;
    width: 100%;
    background-color: white;
}
.fire-container {
    position: absolute;
    z-index: 4;
    top: 0;
    padding: 60px 0 50px 50px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: none;
}
.org-container {
    position: absolute;
    z-index: 5;
    top: 0;
    padding: 100px 0 50px 50px;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.donut-container {
    margin-left: 0;
    margin-right: 0;
}
.login {
    font-size: 0.7em;
}
.login-input {
    padding-left: 5px;
}
#login-submit {
     text-transform: lowercase;
     width: 223px;
}
.fire-extinguisher-status {
    margin-top: 5px;
    margin-bottom: 50px;
    position: absolute;
    font-family: 'Neutra', sans-serif;
    font-size: 2.6em;
    width: 100%;
}
.table-container {
    position: relative;
    font-family: 'Lato', sans-serif !important;
    border: 1px solid #999;
    border-radius: 5px;
    height: 480px;
    width: 93%;
    margin-top: 12%;
    margin-left: -1%;
    overflow-y: scroll;
}
.table-SevereNonCompliance {
    background-color: #f0ae9f !important;
}
.table-NonCompliance {
    background-color: #fdbb99 !important;
}
.table-Upcoming {
    background-color: #fee8a6 !important;
}
.table-Compliant {
    background-color: #99d6bb !important;
}
#fire-extinguisher-table_filter {
    margin: 10px;
}
#fire-extinguisher-table_info {
    margin: 15px;
}
#entire-org-table {
    display: none;
}
#org-table_filter {
    margin: 10px;
}
#org-table_info {
    margin: 15px;
}
@media only screen and (min-width: 1600px) {
    #num-violations-text {
        transform: translateX(-80px);
    }
}
@media only screen and (min-width: 1024px) {
    #num-violations-text {
        transform: translateX(-25px);
    }
}
@media only screen and (max-width: 1024px) {
    .map-layers {
        transform: translate(-140px, -115px);
    }
    .zoom-controls {
        left: 46%;
    }
}
@media only screen and (max-width: 924px) {
    #map {
        width: 96.5%
    }
    .map-layers {
        transform: translate(-180px, -115px);
    }
    #results-barchart {
        display: none;
    }
    .view-switch-container {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .open {
        border: 1px solid #333;
    }
    .open .hamburger {
        transform: translate(1px, -1px);
    }
    .location-title {
        text-align: center;
        font-weight: 400;
    }
    #where {
        text-align: center;
    }
    .personnel-image-container {
        margin-top: 50px;
    }
    #map {
        width: 95%;
    }
    .search-submit {
        margin-top: 15px;
    }
    .map-layers {
        transform: translate(-180px, -115px);
    }
    .legend-controls-container {
        width: 103%;
    }
    #num-violations-text {
        transform: translateX(10px);
    }
}